# def

In [1]:
def hello_name(name):
    print("Hello")
    print(name)
hello_name("Irmak Rüya")

Hello
Irmak Rüya

# return

In [2]:
def num():
    result = 19
    return (result)
print(num())

19

# args

In [3]:
def args_sum(*args):
    return sum(args)
args_sum(10, 20, 30)

60

# kwargs

In [4]:
def kwargs_exam(**kwargs):
    print(kwargs)
kwargs_exam(apple = 100, banana = 200, melon = 300)

{'apple': 100, 'banana': 200, 'melon': 300}

# map

In [5]:
numbers = [1, 5, 8, 9, 11, 7]
def square(num):
    return num**2
result = list(map(square, numbers))
print(result)

[1, 25, 64, 81, 121, 49]

# filter

In [6]:
numbers = [1, 3, 5, 9, 10, 4]
result = list(filter(lambda num: num%2 == 0, numbers))
print(result)

[10, 4]

# lambda

In [7]:
print((lambda x: x**2)(8))

64